.container {
    display: flex;
    flex-direction: row;
    background: black;
    justify-content: flex-start;
    width: 100%;
    height: 80px;
}
.header{
    color: #fff;
    width: 100%;
}
.links{
    color: #fff;
    display: flex;
    flex-direction: row;
    .link {
        margin: 10px;
    }
    
}