body {
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}

.darkmode {
    background: rgb(38, 37, 49);
    min-height: 100vh;
    transition: 500ms ease-in-out;
    margin-top: -20px
}

.lightmode {
    background: rgb(219, 219, 219);
    min-height: 100vh;
    transition: 500ms ease-in-out;
    margin-top: -20px
}