body {
    margin: 0px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}

.darkmode {
    background: rgb(36, 38, 45);
    min-height: 98.5vh;
    transition: 500ms ease-in-out;
    height: 100%;

    @media only screen and (max-width: 1280px) {
        min-height: 100vh;
    }
}

.lightmode {
    background: rgb(219, 219, 219);
    height: 100%;
    min-height: 98.5vh;
    transition: 500ms ease-in-out;
    
    @media only screen and (max-width: 1280px) {
        min-height: 100vh;
    }
}