body {
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}

.darkmode {
    background: rgb(36, 36, 36);
    min-height: 100vh;
    height: 100%;
    transition: 500ms ease-in-out;
}

.lightmode {
    background: rgb(255, 255, 255);
    min-height: 100vh;
    height: 100%;
    transition: 500ms ease-in-out;
}