.container {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin linkCardASD {
    border: 1px groove #000;
    border-radius: 20px;
    height: 180px;
    width: 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    
    span {
        display: flex;
        flex-direction: row;
        font-weight: 900;
        align-items: center;
    }
    
    a {
        // linkin tyylit
    }
}

.linkCard_1 {
    @include linkCardASD();
    border-color: red
}
.linkCard_2 {
    @include linkCardASD();
    border-color: green;
}
.linkCard_3 {
    @include linkCardASD();
}