$menu-item-margin: 10px;

.menubar {
    height: 80px;
    width: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 20px;
}

//menuviivat
.spacing {
    color: #0bb5f4;
    margin: 0 18px;
    font-weight: 900;
    font-size: 25px;
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.darkmodeButton {
    position: absolute;
    right: 0;
    margin: 0 -1200px;
    margin-top: 20px;
}

//menu
.menubar .menuItem a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 10000;
    font-size: 0.8cm;
}

.darklink {
    color: white;
}

.lightlink {
    color: black;
}

.menubar .menuItem a:hover {
    color: #0bb5f4;
}

