$menu-item-margin: 10px;

.menubar {
    height: 80px;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 20px;
    padding-left: 60px;
}

//menuviivat
.spacing {
    color: #0bb5f4;
    margin: 0 20px;
    font-weight: 900;
    font-size: 30px;

    @media only screen and (max-width: 740px) {
    font-size: 0.5cm;
    width: 35px;
    margin-left: -5px;
    }
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

//menu
.menubar .menuItem a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8cm;

    @media only screen and (max-width: 740px) {
    font-size: 0.5cm;
    margin-left: -55px;
    padding: 15px;
    }
}

.darklink {
    color: white;
}

.lightlink {
    color: black;
}

.menubar .menuItem a:hover {
    color: #0bb5f4;
}

.links {
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media only screen and (max-width: 740px) {
    right: 10px;
    }
}

.links .darkModeButton {
    margin-left: 15px;
}

.instagram {
    font-size: 1cm;
    color: rgb(255, 255, 255);
    margin: 0 6px;
    margin-top: -6px;
    background:
    radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 50%, #fec66d 100%);
    border-radius: 11px;

    &:hover{
        transform: scale(1.2);
        transition: .4s ease-in;
    }
}

.twitter {
    font-size: 0.5cm;
    color: rgb(107, 138, 221);
    margin: 0 6px;

    &:hover{
        transform: scale(1.2);
        transition: .4s ease-in;
    }
}

.youtube {
    font-size: 0.5cm;
    color: red;
    margin: 0 6px;

    &:hover{
        transform: scale(1.2);
        transition: .4s ease-in;
    }
}

@media only screen and (max-width: 740px) {
    
    .instagram {
        width: 34px;
        margin-top: 90px;
        position: absolute;
        right: 0px;
    }

    .twitter {
        margin-top: 180px;
        position: absolute;
        right: -3px;
    }

    .youtube {
        margin-top: 260px;
        position: absolute;
        right: -3px;
    }
}