body{
   background-image:url(https://wallpaperaccess.com/full/233095.jpg);
   background-position: center center;
   background-repeat: no-repeat; 
   background-attachment: fixed;
   background-size: cover;
}
.navbar {
    display: flex;
    flex-direction: column;
}
.nimi{
    font-size: 2cm;
    margin-left: 640px;
    margin-top: 1px;
    font-family: Gill Sans;
    color: white;
    
}
.avatar{
    height: 10px;
    
}
.cv{

}